* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #0f172a;
    color: white;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 150px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #38bdf8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 10%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.project-card {
    background: #f4f4f4;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

#contact {
    background: #e2e8f0;
    text-align: center;
}

footer {
    text-align: center;
    background: #0f172a;
    color: white;
    padding: 15px;
}
